<md-content>
  <form>
    <div layout layout-sm="column" class="ground">
      <md-input-container flex>
        <md-select name="vacuna" placeholder="Vacunas" ng-model="vacuna">
          <md-option value="hepatitis">Hepatitis B</md-option>
          <md-option value="td">Td</md-option>
          <md-option value="sr">Sr</md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex>
        <md-select name="dosis" placeholder="Dosis" ng-model="dosis">
          <md-option value="1">Primera</md-option>
          <md-option value="2">Segunda</md-option>
        </md-select>
      </md-input-container>
    </div>
  </form>
</md-content>
